<h1>目次</h1>
<div class="wysiwyg">
  <ol>
    <li><%= link_to 'Rails6のデフォルトの状態', home_case1_path %></li>
    <li><%= link_to 'Cache-Control: no-storeを設定した場合', home_case2_path %></li>
    <li><%= link_to 'Cache-Control: no-cache, private, max-age=0を設定した場合', home_case3_path %></li>
    <li><%= link_to 'Cache-Control: no-cache, private, max-age=10を設定した場合', home_case4_path %></li>
    <li><%= link_to 'ETagが固定または更新された場合', home_case5_path %></li>
    <li><%= link_to 'VueJSでDOM操作のキャッシュ(ページにno-store)', home_case6_path %></li>
    <li><%= link_to 'VueJSでDOM操作のキャッシュ(apiにno-store)', home_case7_path %></li>
  </ol>
</div>
